<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Medical Staff Assignment</title>
</head>
<body>
<h1>New Medical Staff Assignment</h1>
<form th:action="@{/medical-staff-appointments}" th:object="${assignment}" method="post">
    <label>ID:</label>
    <input th:field="*{medicalStaffAppointmentID}"><br>
    <label>Appointment ID:</label>
    <input th:field="*{appointmentID}"><br>
    <label>Staff ID:</label>
    <input th:field="*{medicalStaffID}"><br>
    <button type="submit">Save</button>
</form>
<a href="/medical-staff-appointments">Back</a>
</body>
</html>
