<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Doctor</title></head>
<body>
<h1>New Doctor</h1>
<form th:action="@{/doctors}" th:object="${doctor}" method="post">
    <label>ID:</label><input th:field="*{doctorID}"><br>
    <label>Name:</label><input th:field="*{name}"><br>
    <label>Specialization:</label><input th:field="*{specialization}"><br>
    <label>Department ID:</label><input th:field="*{departmentID}"><br>
    <button type="submit">Save</button>
</form>
<a href="/doctors">Back</a>
</body>
</html>