<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Hospital Form</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/></head>
<body class="container mt-4">
<h2 th:text="${hospital.hospitalID != null} ? 'Edit Hospital' : 'New Hospital'"></h2>

<form th:action="@{/hospitals}" th:object="${hospital}" method="post">
    <div class="mb-3">
        <label>ID</label>
        <input class="form-control" th:field="*{hospitalID}" placeholder="leave blank to auto-generate"/>
    </div>

    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" th:field="*{hospitalName}" required/>
    </div>

    <div class="mb-3">
        <label>City</label>
        <input class="form-control" th:field="*{city}" />
    </div>

    <button class="btn btn-primary">Save</button>
    <a th:href="@{/hospitals}" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>