<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patient</title>
</head>
<body>
<h1>New Patient</h1>
<form th:action="@{/patients}" th:object="${patient}" method="post">
    <label>ID:</label>
    <input type="text" th:field="*{patientID}"><br>

    <label>Name:</label>
    <input type="text" th:field="*{patientName}"><br>

    <label>Email:</label>
    <input type="text" th:field="*{pacientEmail}"><br>

    <label>Date of Birth:</label>
    <input type="date" th:field="*{patientBirthDate}"><br>

    <button type="submit">Save</button>
</form>
<a href="/patients">Back</a>
</body>
</html>
