<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formular Pacient</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="container mt-4">
<h2 th:text="${patient.patientID != null and not #strings.isEmpty(patient.patientID) ? 'Editează Pacient' : 'Adaugă Pacient'}">Formular Pacient</h2>

<div th:if="${globalError}" class="alert alert-danger mt-3" th:text="${globalError}"></div>

<form th:action="@{/patients}" th:object="${patient}" method="post">

    <input type="hidden" th:field="*{patientID}" />

    <div class="mb-3">
        <label for="patientName" class="form-label">Nume complet</label>
        <input id="patientName" class="form-control" th:field="*{patientName}"
               placeholder="Ex: Ion Popescu" required/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('patientName')}" th:errors="*{patientName}"></div>
    </div>

    <div class="mb-3">
        <label for="pacientEmail" class="form-label">Email</label>
        <input id="pacientEmail" type="email" class="form-control" th:field="*{pacientEmail}"
               placeholder="ex: ion.popescu@email.com" required/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('pacientEmail')}" th:errors="*{pacientEmail}"></div>
    </div>

    <div class="mb-3">
        <label for="patientBirthDate" class="form-label">Data Nașterii</label>
        <input id="patientBirthDate" type="date" class="form-control" th:field="*{patientBirthDate}"
               required/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('patientBirthDate')}" th:errors="*{patientBirthDate}"></div>
    </div>

    <button type="submit" class="btn btn-primary">Salvează</button>
    <a th:href="@{/patients}" class="btn btn-secondary">Anulează</a>
</form>
</body>
</html>