<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Appointment</title>
</head>
<body>
<h1>New Appointment</h1>

<form th:action="@{/appointments}" th:object="${appointment}" method="post">
    <label>ID:</label>
    <input th:field="*{appointmentID}"><br>

    <label>Patient ID:</label>
    <input th:field="*{patientID}"><br>

    <label>Department ID:</label>
    <input th:field="*{departmentID}"><br>

    <label>Date:</label>
    <input type="datetime-local" th:field="*{admissionDate}"><br>

    <label>Status:</label>
    <select th:field="*{status}">
        <option th:each="s : ${T(com.example.Hospital.Management.System.Model.AppointmentStatus).values()}"
                th:value="${s}" th:text="${s}"></option>
    </select><br>

    <button type="submit">Save</button>
</form>

<a href="/appointments">Back</a>
</body>
</html>
